.container_shippers-head {
  display: flex;
  flex-direction: column;
  align-items: center;

  .btn {
    max-width: 405px;
    width: 100%;
  }
}

.container_shippers-list {
  display: flex;
  grid-gap: 50px;
}

.shippers-head {
  background-image: url(../images/backgrounds/shippers-bg.jpg);
  padding: 106px 0;
  background-size: cover;
  background-position: 50%;
  margin-top: 71px;
}

.shippers-head__title {
  text-align: center;
  font-size: 64px;
  color: var(--color-light);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 10px;
  max-width: 861px;
  margin-top: 10px;
  margin-bottom: 83px;
}

.shippers-head__logo {
  width: 79px;
  height: 79px;
  svg {
    width: 100%;
    height: 100%;
    color: var(--color-light);
  }
}

.shippers-list-block__left {
  flex-basis: 50%;
  display: flex;
  align-items: center;
}

.shippers-list-block__text {
  max-width: 569px;
  font-size: 25px;
  line-height: 1.2;
  color: var(--color-dark-blue);
}

.shippers-list-block__right {
  flex-basis: 50%;
  display: flex;
  align-items: center;
}

.shippers-list-block {
  padding: 115px 0;
}

.shippers-list-block__list {
  max-width: 572px;
}

.shippers-list-block__item {
  color: var(--color-dark-blue);
  list-style-type: none;
  font-size: 25px;
  position: relative;
  line-height: 1.5;

  &:before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: var(--color-orange);
    position: absolute;
    left: 0;
    left: -19px;
    top: 17px;
    transform: rotate(45deg);
  }
}

.banner_shippers {
  background-image: url(../images/backgrounds/shippers-banner-bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.filters {
  padding: 120px 0;
  background-color: #e6e6f0;
}

.filters__title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 95px;
  font-weight: 400;
  color: var(--color-dark-blue);
}

.filters__photo {
  border-radius: 20px;
  max-width: 1200px;
  width: 100%;
}

.container_filters {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shippers-slider {
  padding: 130px 0;
  background: url(../images/backgrounds/numbers-bg.jpg), #e6e6f0;
  background-size: cover;
  background-position: 50%;
}

.shippers-slider__title {
  font-size: 48px;
  color: var(--color-dark-blue);
  margin-bottom: 85px;
  text-align: center;
}

.shippers-slider__wrapper {
  display: flex;
  grid-gap: 30px;
  justify-content: space-between;
}

.shippers-slider__slide {
  border: 1px solid #777b82;
  border-radius: 20px;
  background-color: var(--color-light);
  padding: 50px 30px;
  max-width: 584px;
  width: 100%;
}

.shippers-slider__slide-title {
  color: var(--color-orange);
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 40px;
}

.shippers-slider__slide-list {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
}

.shippers-slider__slide-item {
  color: var(--color-dark-blue);
  list-style-type: none;
  font-size: 25px;
  position: relative;
  line-height: 1.4;

  &:before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: var(--color-orange);
    position: absolute;
    left: 0;
    left: -19px;
    top: 15px;
    transform: rotate(45deg);
  }
}

.price {
  background-color: #e3e3f04d;
  padding: 110px 0;
}

.price__title {
  font-size: 38px;
  text-align: center;
  color: var(--color-dark-blue);
  margin-bottom: 60px;
}

.price__info-block {
  background-color: var(--color-light);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
}

.price__content-title {
  color: var(--color-blue);
  font-weight: 400;
  font-size: 28px;
  display: flex;
  grid-gap: 5px;
  align-items: center;

  svg {
    width: 35px;
    height: 35px;
  }
}

.price__list {
  padding: 34px 40px 34px 70px;
  border-left: 1px solid rgba(228, 228, 228, 0.603);
  max-width: 357px;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.price__list-item {
  color: #777b82;
  line-height: 1.5;
  list-style-type: none;
  font-size: 16px;
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 15px;
    height: 8px;
    border-bottom: 3px solid var(--color-blue);
    border-left: 3px solid var(--color-blue);
    position: absolute;
    left: -25px;
    top: 5px;
    transform: rotate(-45deg);
  }
}

.price__content {
  padding: 34px 42px;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.price__content-item {
  list-style-type: none;
  font-size: 15px;
  color: #777b82;
  padding-left: 10px;
  position: relative;

  &:before {
    content: "-";
    position: absolute;
    left: -0px;
  }
}

.price__foot {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  grid-gap: 5vw;
}

.price__rate-block {
  background-color: var(--color-light);
  border-radius: 16px;
  padding: 48px 39px;

  .btn {
    width: 266px;
    margin-top: 40px;
  }
}

.price__rate-title {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;

  .description {
    position: absolute;
    bottom: -37px;
    font-size: 20px;
    color: var(--color-orange);
    font-weight: 400;
  }

  .num {
    font-size: 40px;
    line-height: 1;
    display: flex;
    align-items: center;
    grid-gap: 10px;
    color: var(--color-dark-blue);

    img {
      height: 28px;
      object-fit: contain;
    }
  }

  .subtitle {
    font-size: 16px;
    color: #777b82;
    font-weight: 400;
    margin-left: 10px;
    position: relative;
    bottom: 5px;
  }
}

.price__name {
  text-align: center;
  color: var(--color-blue);
  font-size: 28px;
  margin-top: 50px;
  font-weight: 500;
  padding-bottom: 35px;
  border-bottom: 1px solid rgba(182, 182, 182, 0.219);
}

.price__cards-wrapper {
  display: flex;
  grid-gap: 7vw;
}

.price__foot-subtitle {
  font-weight: 500;
  font-size: 24px;
  color: #777b82;
  line-height: 1.2;

  .orange {
    color: var(--color-orange);
  }
}

.shippers-head_cargo {
  background-image: url(../images/backgrounds/cargo-bg.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.banner_cargo {
  background-image: url(../images/backgrounds/cargo-banner.jpg);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.free-text {
  font-size: 24px;
  color: var(--color-orange);
  font-weight: 500;
  line-height: 1.2;
}

.shippers-head_carriers {
  background-image: url(../images/backgrounds/carriers-bg.jpg);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.shippers-head_freecars {
  background-image: url(../images/backgrounds/freecars-bg.jpg);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1280px) {
  .shippers-head {
    background-image: url(../images/backgrounds/shippers-mobile-bg.jpg);
  }

  .shippers-list-block__item {
    font-size: 22px;

    &:before {
      top: 15px;
    }
  }

  .price__foot {
    grid-gap: 30px;
    margin-top: 50px;
  }

  .price__cards-wrapper {
    grid-gap: 30px;
  }

  .price__foot-subtitle {
    max-width: 377px;
    width: 100%;
  }

  .shippers-list-block__text {
    font-size: 22px;
    max-width: 533px;
  }

  .shippers-list-block {
    padding: 75px 0;
  }

  .filters {
    padding: 100px 0;
  }

  .filters__title {
    font-size: 22px;
    margin-bottom: 70px;
  }

  .shippers-slider {
    padding: 100px 0;
  }

  .shippers-slider__title {
    font-size: 38px;
    margin-bottom: 60px;
  }

  .shippers-slider__slide {
    max-width: 520px;
  }

  .shippers-slider__slide-title {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .shippers-slider__slide-item {
    font-size: 22px;

    &:before {
      top: 13px;
    }
  }

  .price {
    padding: 100px 0;
  }

  .price__content {
    padding: 32px;
  }

  .price__list {
    padding: 32px 32px 32px 62px;
  }

  .shippers-head_cargo {
    background-image: url(../images/backgrounds/cargo-bg.jpg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
  }

  .shippers-head_carriers {
    background-image: url(../images/backgrounds/carriers-bg-mobile.jpg);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .shippers-head_freecars {
    background-image: url(../images/backgrounds/freecars-bg.jpg);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (max-width: 1024px) {
  .shippers-head {
    padding: 64px 0 88px 0;
  }

  .filters__title {
    font-size: 19px;
    margin-bottom: 60px;
  }

  .shippers-head__title {
    font-size: 54px;
    margin-bottom: 73px;
  }

  .shippers-head__logo {
    width: 69px;
    height: 69px;
  }

  .container_shippers-head {
    .btn {
      max-width: 292px;
    }
  }

  .shippers-list-block__list {
    display: flex;
    flex-direction: column;
    grid-gap: 3px;
  }

  .shippers-list-block {
    padding: 55px 0;
  }

  .shippers-list-block__item {
    font-size: 19px;

    &:before {
      top: 13px;
    }
  }

  .shippers-list-block__text {
    font-size: 19px;
    max-width: 533px;
  }

  .shippers-slider {
    padding: 80px 0;
  }

  .shippers-slider__slide {
    max-width: 423px;
  }

  .shippers-slider__title {
    font-size: 28px;
  }

  .shippers-slider__slide-title {
    font-size: 25px;
  }

  .shippers-slider__slide-item {
    font-size: 19px;

    &:before {
      top: 10px;
    }
  }

  .price {
    padding: 90px 0;
  }

  .price__title {
    font-size: 28px;
  }

  .price__foot {
    margin-top: 35px;
  }

  .price__content-title {
    font-size: 25px;
  }

  .price__rate-block {
    padding: 45px 12px;
  }
}

@media (max-width: 880px) {
  .price__rate-block {
    padding: 45px 12px;
    flex-basis: 50%;

    .btn {
      width: 100%;
      margin-top: 30px;
    }
  }

  .banner_cargo {
    background-image: url(../images/backgrounds/cargo-banner-mobile.jpg);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .price {
    padding: 60px 0;
  }

  .price__foot {
    flex-wrap: wrap;
    margin-top: 16px;
    grid-gap: 20px;
  }

  .price__cards-wrapper {
    width: 100%;
    grid-gap: 16px;
  }

  .price__foot-subtitle {
    max-width: 100%;
    font-size: 17px;
  }

  .price__rate-title {
    .num {
      font-size: 30px;

      img {
        height: 22px;
      }
    }

    .subtitle {
      bottom: 0;
    }

    .description {
      font-size: 17px;
    }
  }

  .price__name {
    font-size: 23px;
    margin-top: 45px;
    padding-bottom: 22px;
  }
}

@media (max-width: 800px) {
  .shippers-head__title {
    font-size: 34px;
    max-width: 750px;
    margin-bottom: 40px;
  }

  .shippers-head__logo {
    width: 45px;
    height: 45px;
  }

  .shippers-head {
    padding: 50px 0;
  }

  .banner_shippers {
    background-image: url(../images/backgrounds/shippers-banner-bg-mobile.jpg);
    background-size: cover;
    background-position: 50% 50%;
  }

  .filters {
    padding: 50px 0;
  }

  .filters__title {
    font-size: 16px;
    margin-bottom: 35px;
  }

  .shippers-slider {
    background: url(../images/backgrounds/numbers-bg-mobile.png), #e6e6f0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    padding: 50px 0;
  }

  .shippers-slider__title {
    margin-bottom: 35px;
    font-size: 20px;
  }

  .shippers-slider__slide {
    max-width: 350px;
    padding: 30px 16px;
  }

  .shippers-slider__slide-title {
    font-size: 17px;
    margin-bottom: 16px;
  }

  .shippers-slider__slide-list {
    grid-gap: 10px;
    padding-left: 19px;
  }

  .shippers-slider__slide-item {
    font-size: 14px;

    &:before {
      top: 7px;
    }
  }

  .price__content {
    padding: 20px;
    grid-gap: 15px;
  }

  .price__list {
    padding: 20px 20px 20px 40px;
  }

  .price__list-item {
    font-size: 14px;

    &:before {
      width: 10px;
      height: 5px;
      border-width: 2px;
      top: 7px;
      left: -20px;
    }
  }

  .price__content-title {
    font-size: 19px;
  }

  .price__content-item {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .shippers-list-block__item {
    font-size: 14px;

    &:before {
      top: 9px;
    }
  }

  .shippers-list-block__text {
    font-size: 14px;
    line-height: 1.6;
    max-width: 533px;
  }

  .price__title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .free-text {
    font-size: 17px;
    max-width: 100% !important;
  }

  .price__cards-wrapper_free {
    order: 2;
    grid-gap: 11px;
  }
}

@media (max-width: 600px) {
  .shippers-head {
    margin-top: 65px;
  }

  .shippers-slider__slide {
    max-width: 276px;
  }
}

@media (max-width: 576px) {
  .shippers-head__title {
    font-size: 22px;
    margin-bottom: 34px;
    letter-spacing: 3px;
    max-width: 343px;
  }

  .filters {
    padding: 30px 0;
  }

  .filters__title {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .banner_shippers {
    background-image: url(../images/backgrounds/shippers-banner-bg-phone.jpg);
    background-size: cover;
    background-position: 50% 50%;
  }

  .shippers-head {
    padding: 40px 0;
  }

  .shippers-list-block {
    padding: 30px 0;
  }

  .container_shippers-list {
    flex-direction: column;
    grid-gap: 20px;
  }

  .shippers-list-block__left,
  .shippers-list-block__right {
    flex-basis: 100%;
  }

  .shippers-list-block__right {
    padding-left: 21px;
  }

  .shippers-slider__wrapper {
    margin: 0 -15px 0 -15px;
    overflow: visible;

    .slick-dots {
      bottom: -30px;

      button {
        background-color: rgb(197, 197, 197);
      }

      .slick-active {
        button {
          background-color: var(--color-blue);
        }
      }
    }

    .slick-list,
    .slick-track {
      height: 100%;
      display: flex;
      align-items: stretch;
    }

    .shippers-slider__slide {
      height: 100%;
      display: flex;
      flex-direction: column;
      height: auto;
      width: 82.2vw;
      max-width: unset;
    }

    .shippers-slider__slide:nth-child(2) {
      margin-left: 20px;
      position: relative;
    }
  }

  .price__info-block {
    flex-direction: column;
  }

  .price__list {
    max-width: unset;
    padding-top: 0;
    grid-gap: 5px;
  }

  .price__content-title {
    svg {
      width: 50px;
      height: 50px;
    }
  }

  // p {
  //   max-width: 210px;
  // }

  .price__name {
    font-size: 17px;
    margin-top: 39px;
  }

  .price__rate-title {
    .num {
      grid-gap: 4px;
      font-size: 22px;

      img {
        height: 16px;
      }
    }
    .subtitle {
      font-size: 14px;
      margin-left: 4px;
    }

    .description {
      font-size: 10px;
      bottom: -28px;
    }
  }

  .price__rate-block {
    padding: 30px 8px;
    .btn {
      font-size: 14px;
      padding: 8px 0;
    }
  }

  .price {
    padding: 40px 0;
  }

  .price__title {
    margin-bottom: 26px;
  }
}

@media (max-width: 350px) {
  .price__rate-title {
    .num {
      grid-gap: 4px;
      font-size: 20px;

      img {
        height: 15px;
      }
    }
    .subtitle {
      font-size: 12px;
      margin-left: 3px;
    }

    .description {
      font-size: 10px;
      bottom: -28px;
    }
  }

  .price__name {
    font-size: 16px;
    margin-top: 39px;
  }
}
